﻿p{}/*----------------------------
					 Top Header
----------------------------*/
#topHeader
{
    height: 84px;
    width: 100%;
    background-image: url('img/navBg_02.png');
    background-repeat: repeat-x;
    z-index: 1;
    position: absolute;
}
.header
{
    z-index: 1;
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    top: 75px;
}
.header span
{
    font-size: 18px;
    color: #ffcedd;
}
/*----------------------------
			 Top Header Nav
----------------------------*/
#navigation
{
	height: 25px;
	position: absolute;
	left: 105px;
	top: 16px;/*To accomodate hover graphic and position from top*/
	z-index: 1;
	
}
.navigationContainer
{
    width: 800px; /*Always keep this width - pad and margin inner containers*/
    margin: 0 auto;
    position: relative;
    text-align: left;
    z-index: 1;
}
.navLinkList
{
	margin-left: -25px;
	z-index: 1;
}
.navLink {
	list-style-type: none;
	display: inline;
	list-style-position: inside;
	padding: 0px;
	margin: 0px;
	text-align: center;
	z-index: 1;
}
.navLinkContainer 
{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 18px;/*To accomodate hover arrow*/
	margin-right: 15px;
	margin-left: 15px;
	float: left;
	z-index: 1;
}
.navLinkContainer:hover
{

}
/*------NAV LINKS----*/
#navigation a
{
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
}

a.navLink:link {color: #ffcedd; z-index: 1;}
a.navLink:visited {color: #ffcedd; z-index: 1;}  /* visited link */
a.navlink:hover {color: #ffcedd; z-index: 1;}  /* mouse over link */
a.navlink:active {color: #ffcedd; z-index: 1;}  /* selected link */

/*----------------------------
	Top Header Admin Login
----------------------------*/
#loginBox
{
    position: relative;
    top: 35px;
    float: right;
    margin-right: 10px;
    z-index: 1;
        
}
#loginBox a
{
    color: #313433; 
    z-index: 1;   
}

/*----------------------------
	Header/Mast
----------------------------*/
#mastHead
{
	height: 360px;
	width: 100%;
	z-index: 0;
}
/*----------------------------
	MAST BG IMG
----------------------------*/
.mastBG_1
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_02.png');
}
.mastBG_2
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_03.png');
}
.mastBG_3
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_04.png');
}
.mastBG_4
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_05.png');
}
.mastBG_5
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_06.png');
}
.mastBG_7
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_07.png');
}
.mastBG_8
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_08.png');
}
.mastBG_9
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_09.png');
}
.mastBG_10
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_10.png');
}
.mastBG_11
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_11.png');
}
.mastBG_12
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_12.png');
}
.mastBG_13
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_13.png');
}
.mastBG_14
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_14.png');
}
.mastBG_15
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_15.png');
}
.mastBG_16
{
    width: 65px;
    height: 350px;
    float: left;
    position: relative;
    z-index: 0;
    background-image: url('img/mast/mastBg_16.png');
}
/*----------------------------
	END MAST BG IMG
----------------------------*/
.mastHeadContainer
{
	width: 975px; /*Always keep this width*/
    margin: 0 auto;
    position: relative;
    text-align: left;
    height: 360px;
    padding-bottom: 10px;
    border-bottom: 0px solid #5f464e;
}
/*------Graphic-------*/
.girls
{
    background-image: url('img/girls_05.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 255px;
    height: 258px;
    position: absolute;
    z-index: 1;
    left: 680px;
    top: 75px;
}
.subscribeLink:hover
{

}

/*----------------------------
	MAIN BODY
----------------------------*/
body 
{
background-color: #020001;
margin-right: -10x;
margin-left: -10px;
margin-top: -5px;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
color: #fde2ea;
}
#body_top
{
    height: auto;
    margin-top: 10px;/*space between post/sidebar and header elements*/
    z-index: 1;
}
#body_top_container
{
    width: 975px; /*Always keep this width*/
    height: auto;
    min-height: 600px;
    margin: 0 auto;
    position: relative;
    text-align: left;
    z-index: 1;
}
#body_top_dynamic
{
    width: 975px; /*Resize this value to match other elements such as shorter navigation bars*/
    z-index: 1;
}
/*-------Post and Sidebar Layout*----------*/
#body_left /*Container for other divs -- no direct content*/
{
    float: left;
    width: 629px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 0px; /*When divs are floated -- watch space between - adjust module size to affect this limited space*/
    margin-bottom: 10px;
    margin-top: -150px;
    z-index: 1;
}
#body_right /*Container for other divs -- no direct content*/
{
    float: right;
    width: 296px;
    padding: 10px;
    margin-left: 0px; /*When divs are floated -- watch space between - adjust module size to affect this limited space*/
    margin-top: -5px;
    margin-bottom: 10px;
    z-index: 1;
}


/*----------------------------
	STANDARD ELEMENTS
----------------------------*/

a img{border: 0; text-decoration: none;}
a{text-decoration: none;}

a:link {color:#fde2ea;} /* unvisited link */
a:visited {color:#fde2ea;}  /* visited link */
a:hover {color:#fde2ea;}  /* mouse over link */
a:active {color:#fde2ea;}  /* selected link */


h1
{
	margin-bottom: 5px;
	font-size: 28px;
}
h2
{
	margin-bottom: 5px;
	font-size: 24px;
}
h3
{
	margin-bottom: 5px;
	font-size: 20px;
}
h2
{
	margin-bottom: 5px;
	font-size: 16px;
}

/*----------------------------
					 Widgets
----------------------------*/

div.widgetzone{
	padding: 0;
	background: none;
}
div.widget{
	border: 0px solid #cfa6b3;
	padding: 10px 10px;
	margin-bottom: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index: 1;
}

div.widget .content{
	line-height: 20px;
}

div.widget h4{
	margin-bottom: 5px;
	padding: 10px;
	z-index: 0;
	letter-spacing: 3px;
	background-image: url('img/tagBoxBG_06.png');
    background-repeat: repeat-x;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

div.widget a.edit, div.widget a.move{
	float: right;
	z-index: 1;
	margin-left: 5px;
}

div.widget a.delete{
	font-weight: bold;
	float: right;
	margin-left: 5px;
	position: relative;
	z-index: 1;
}

.widgetzone .widget ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}

.widgetzone .widget ul li {
	margin-bottom: 3px;
}

.widgetzone div.search{
	border: 0px solid #dadada;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	padding-left: 20px;
}

.widgetzone img.rssButton {
	margin-right: 3px;
}

.widgetzone div#moveWidgetToContainer {
	text-align: right;
	margin: 3px;
}

/*----------------------------
					 Blogroll
----------------------------*/

#blogroll ul {
	list-style-type: none;
	margin: 0 0 3px 0;
	padding: 0px;
}

#blogroll ul li ul li a {
	margin-left: 25px;
	color: #666666;
	font-size: 90%;
}

#blogroll ul li a img {
	border: none;
	margin-right: 3px;
}

/*----------------------------
					 Posts
----------------------------*/
.post a
{
    color: #9d2c58;    
}
.categories a
{
    color: #9d2c58;  
    font-weight: bold;  
}
div.post, .mceContentBody {
	margin-bottom: 20px;
}

div.post h1, .mceContentBody h1 
{
    margin-right: 5px;
}
.postMetaElementSeparator
{
    color: #9d2c58;
}
div.post .author {
	font-size: 12px;
	text-transform: capitalize;
}
div.post .text {
	margin-top: 5px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 20px;
	font-size: 13px;
	color: #3b3b3b;
	background-color: #fedce5;
	border: 1px solid #e89cb0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.text a
{
    text-decoration: underline;
    color: #893750; 
}
div.post .bottom 
{
    margin-top: 5px;
	margin-bottom: 15px;
	width: 100%;
}
div.post .tagBox
{
    padding: 5px;
    color: #fedce5;
    height: auto;
    width: 100%;
    background-image: url('img/tagBoxBG_06.png');
    background-repeat: repeat-x;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.tagBox a
{
    color: #fde2ea;
    font-weight: bold;
}
.postFooter {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
}
.postFooter .fb
{
    width: 285px;
    height: auto;
    border: 0px solid #dadada;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    float: left;
    clear: left;
}
.postFooter .tw
{
    width: 285px;
    height: auto;
    border: 0px solid #dadada;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    float: right;
    clear: right;
    text-align: right;
}
.administrativeLinks
{
    margin-top: 70px;
}
.administrativeLinks a
{
    color: #fde2ea;
}

div.post .text a[href^="http:"] {
	background: url(../../pics/remote.gif) right top no-repeat;
	padding-right: 10px;
    white-space: nowrap;
}

/*----------------------------
			Related Posts
----------------------------*/

#relatedPosts div {
	padding: 10px;
	font-weight: bold;
	line-height: 15px;
}

#relatedPosts h1 {
	margin: 0 0 10px 0;
}

#relatedPosts p
{
	font-size: 120%;
	letter-spacing:1px;
	font-weight: bold;
}

#relatedPosts a {
	display: block;
	margin-top: 5px;
	color: #893750;
}

#relatedPosts span {
	color: #ffe7ed;
    font-weight: normal;
}

/*----------------------------
				Recent posts
----------------------------*/

ul.recentPosts li{
	padding-bottom: 10px;
}

ul.recentPosts li a{
	font-weight: bold;
}

ul.recentPosts li span{
	display: block;
	text-indent: 10px;
	text-transform: none;
}

/*----------------------------
			Recent comments
----------------------------*/

ul.recentComments li{
	padding-bottom: 10px;
	text-transform: none;
}

ul.recentComments li a.postTitle{
	font-weight: bold;
}


/*----------------------------
					Archive
----------------------------*/

#archive {
	font-size: 13px;
	padding: 10px;
	color: #3b3b3b;
	background-color: #fedce5;
	border: 1px solid #e89cb0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#archive h1 {
	margin: 0;
	padding-bottom: 9px;
}

#archive h2 {
	border-bottom: 3px double #962d55;
	padding-bottom: 4px;
	margin-bottom: 10px;
}

#archive h2 img {
	margin-right: 3px;
}

#archive ul {
	list-style-type: square;
	margin: 0 10px;
	padding: 10px;
}

#archive ul li {
	margin-right: 20px;
}

#archive table{
	width: 100%;	
	border-collapse: collapse;
}

#archive table td, #archive table th{
	text-align:left;
}

#archive table td{
	text-align:left;
	padding: 2px 0;
	font-size: 95%;
}

#archive .date{
	width: 70px;
}

#archive .comments{
	width: 70px;
	text-align: center;
}

#archive .rating{
	width: 70px;
	text-align: center;
}
#archive a
{
    color: #3b3b3b
    }

/*----------------------------
					 Search
----------------------------*/

#searchbox 
{
    color: #c194a0;
}

#searchbox input 
{
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-radius: 5px;
    border: 1px solid #dadada;
}

#searchbox #searchbutton {
	margin-left: 5px;
	background-color: #952550;
	font-weight: bold;
}

#searchbox #searchfield {
	width: 180px;
}

/*----------------------------
			Search on search
----------------------------*/

#searchonsearch {
	padding: 5px 10px;
	margin-bottom: 20px;
	font-size: 13px;
	color: #3b3b3b;
	background-color: #fedce5;
	border: 1px solid #e89cb0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#searchonsearch h3 {
	margin: 3px;
}

#searchonsearch ol li {
	margin: 2px 0;
}

/*----------------------------
				Month list
----------------------------*/

#monthList li
{
	font-weight: normal;
}

#monthList .year
{
	cursor: pointer;
	font-weight: bold;
}

#monthList .year li
{
	margin-left: 20px;
}

#monthList ul
{
	display: none;
}

#monthList .open
{
	display: block;
}

/*----------------------------
				 Tag cloud
----------------------------*/

.tagcloud {
	margin-bottom: 10px;
	white-space: normal;
}

.tagcloud li {
	display: inline;
}

.tagcloud a {
	margin-right: 3px;
	display: inline;
}

.tagcloud a.biggest {
	font-size: 130%;
}

.tagcloud a.big {
	font-size: 124%;
}

.tagcloud a.medium {
	font-size: 115%;
}

.tagcloud a.small {
	font-size: 100%;
}

.tagcloud a.smallest {
	font-size: 90%;
}

/*----------------------------
					 Page
----------------------------*/

#page {
	font-size: 13px;
	line-height: 20px;
	padding: 10px;
	color: #3b3b3b;
	background-color: #fedce5;
	border: 1px solid #e89cb0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#page h1 {
}

#page #admin {
	border-top: 1px solid silver;
	margin-top: 10px;
	padding: 5px 0;
}

/*----------------------------
					 Calendar
----------------------------*/

#calendarContainer {
	text-transform: capitalize;
	margin: 0 auto;
}

.calendar {
	border: none;
	margin: 0 auto;
}

.calendar .weekend {
	background-color: #F1F1F1;
}

.calendar .other {
	color: silver;
}

.calendar a.exist {
	display: block;
	font-weight: bold;
	background-color: #F1F1F1;
}

.calendar td {
	vertical-align: top;
	background: white;
}

/*----------------------------
				Search page
----------------------------*/

#searchpage{
	margin-bottom: 30px;
}

#searchpage input#q{
	width: 300px;
}

#searchpage input#comment{
	clear: both;
}

.searchresult{
	margin-bottom: 20px;
}

.searchresult a{
	font-weight: bold;
}

.searchresult span.text{
	clear: both;
	display: block;
	margin: 3px 0;
}

.searchresult span.type{
	display: block;
}

.searchresult span.url{
	color: Gray;
}

.searchpage ul.paging{
 list-style-type: none;
 margin:0px;
 margin-bottom: 20px;
 padding:0px;
}

.searchpage ul.paging li{
 display: inline;
 border: 1px solid gray; 
 background: #f1f1f1;
 margin-right: 5px;
}

.searchpage ul.paging li a{
 padding: 5px 8px;
}

.searchpage ul.paging li.active{
 background: #f1f1f1;
 border: 1px solid black;
}

/*----------------------------
				Contact page
----------------------------*/

#contact{
	font-size: 13px;
	padding: 10px;
	color: #3b3b3b;
	background-color: #fedce5;
	border: 1px solid #e89cb0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#contact h1{

}

#contact label{
	display: block;
	padding-top: 5px;	
}

#contact input.field{
	width: 200px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#contact textarea{
	display: block;	
	overflow: auto;
	width: 75%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 150px;
	margin: 0;
}

/*----------------------------
				Comments
----------------------------*/

#commentlist {
    padding-top: 10px;
}
.comment_header{
    height:36px;
    display:block;
    padding: 0 5px;
    vertical-align:middle;
    background-color: #962d55;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px
    -webkit-border-radius: 5px;
    border-radius: 5px;

}
.comment a
{
    Color: #3b3b3b;
}
.comment {
	font-size: 13px;
	padding: 10px;
	color: #3b3b3b;
	background-color: #fedce5;
	border: 1px solid #e89cb0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.comment .author {
	margin: 0;
	padding: 3px 5px;
	font-size:90%;
	border: 0px;
	height: 16px;
}

#addcomment, #comment
{
	font-size: 120%;
	letter-spacing:1px;
	font-weight: bold;
}

.self {
	background: #f8f8f8;
}

.comment .gravatar {
	float: left;
	clear: both;
	margin: 3px 10px 6px 0;
}

.comment .gravatar img {
	height: 28px;
	border: 1px solid silver;
	margin: 0;
	padding: 0;
}

.comment img.flag {
    margin-left: 5px;
}

.comment .content {
	min-height: 25px;
	margin: 1px;
	padding: 5px;
}

.comment cite{
	font-family: Monospace;
	font-style: normal;
}

.visitor {
    padding:8px 0px;
}

.visitor div {
    font-size: 0.8em;
    color: #666;
}

.comment {
    padding: 5px;
}

/* nested comments */

.comment-replies {
	background: transparent url(../../pics/reply-arrow.gif) no-repeat 2px 15px;
	padding: 0 0 0 15px;
	margin: 5px 0 0 0;
}

#commentlist #comment-form {
	border: solid 1px #ccc;
	background: #fff;
	padding: 10px;
	margin: 10px 0;
}

/*  Comment notification unsubscription  */
#commentNotificationUnsubscription {
	margin-bottom: 10px;
	color: Gray;
	background: #ffc;
	border: 1px solid silver;
	padding: 10px;
}

#commentNotificationUnsubscription h1 {
	margin: 0 auto 12px auto;
	padding: 0;
}

/* comment menu */
#commentMenu{
	padding: 0;
	margin:0;
	clear:both;
}

#commentMenu li{
	float:left;
	border:1px solid silver;
	border-bottom: transparent;
	margin:0;
	list-style:none;
	margin-right:5px;
	padding: 3px 8px;	
	cursor:pointer;
	position:relative;
	top: 2px;
	background:#d8d8d8;
}

#commentMenu li.selected{
	background:white;
	border-bottom:1px solid white;
}

.commentForm .bbcode {
    font-size:90%;
    float:right;
    position:relative;
    top:20px;
    padding: 3px;
}

.commentForm .bbcodeNoLivePreview {
	top: 0;
}

.bbcode a {
    margin: 1px;
    padding: 1px 3px 1px 3px;
    background: #fff;
    border: 1px solid #ccc;
    color: black;
}

/* comment form */
.commentForm textarea {
	width: 100%;
	height: 150px;
	border:1px solid silver;
}

.commentForm label {
	float: left;
	display: block;
	width: 80px;
	padding-top: 3px;
}

.commentForm input[type='text'] {
	border: #ccc 1px solid;  
	BACKGROUND-COLOR: #fff; 
	width: 300px;
	margin: 2px 0;
}

.commentForm select 
{
    border: #ccc 1px solid;  
    width: 308px;
}

select {
    padding: 3px;
}

input[type="text"], input[type="select"] {
    padding: 3px;
}

input[type="submit"], input[type="button"], input[type="file"] {
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #B8C1CA;
	padding: 3px 5px;
}

input[type="submit"]:hover, input[type="button"]:hover {
	color: #FFFFFF;
	background: #B8C1CA;
	cursor: pointer;
}

#searchcomments {
    margin: 10px 5px 0 0;
}
/*FOOTER*/
#footer
{
    background-color:;
    height: 150px;
    margin-top: 20px;
    margin-bottom: -15px;
}
.footer_container
{
    width: 975px; /*Always keep this width*/
    margin: 0 auto;
    position: relative;
    text-align: left;
    color: #ffffff;
    padding-top: 5px;
    line-height: 20px;
    font-size: 11px;
}
#footer a
{
    color: #fde2ea;
}
