/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF url(images/img01.jpg) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #7F7772;
}

h1, h2, h3 {
	margin-bottom: 15px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #333333;
}

h1 {
	font-size: 197%;
}

h2 {
	font-size: 152%;
}

h3 {
	font-size: 100%;
	font-weight: bold;
}

p, ul, ol {
	margin-bottom: 15px;
	line-height: 1.6em;
}

ul, ol {
	margin-left: 2em;
}

blockquote {
	margin-left: 1em;
	padding-left: 1em;
	background: url(images/img09.gif) repeat-y;
	font-style: italic;
}

a:link {
	color: #0AAAFD;
}

a:hover, a:active {
	text-decoration: none;
	color: #FF6700;
}

a:visited {
	color: #7F7772;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

/* Menu */

#menu {
	width: 770px;
	height: 105px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: block;
	float: left;
	width: 122px;
	height: 65px;
	padding: 40px 0 0 0;
}

#menu a {
	display: block;
	width: 122px;
	height: 32px;
	padding: 13px 0 0 0;
	background: url(images/img02.jpg) no-repeat;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	background-image: url(images/img03.jpg);
}

#menu .active {
	padding-top: 35px;
}

#menu .active a {
	height: 37px;
	padding-top: 16px;
	background-image: url(images/img04.jpg);
	color: #327EBE;
}

#menu .active a:hover {
	background-image: url(images/img04.jpg);
}

/*
Search box
*/

/* Header */

#header {
	width: 760px;
	height: 160px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width:760;
	height: 160px;
	background: url(images/img05.jpg) no-repeat;
}

#logo h1, #logo h2 {
	text-align: center;
}

#logo h1 
{
	padding-top: 20px;
	letter-spacing: 1px;
	font-size:197%;
}

#logo h2 {
	letter-spacing: 1px;
	font-size: 14;
}

#logo a 
{
	font-family:Verdana,Tahoma;
	font-weight:bold;
	text-transform: uppercase;
	text-decoration: none;
	color:#FFFFFF;
}


/* Page */

#page {
	width: 760px;
	margin: 0 auto;
	padding: 20px 0 0 0;
}

/* Content */

#content 
{
	margin-bottom:8px;
	float: right;
	width: 510px;
}

.boxed .title  {
	height: 32px;
	margin: 0;
	padding: 8px 0 0 20px;
	background: url(images/img08.jpg) no-repeat;
	letter-spacing: -1px;
	color: #FF3300;
}

.boxed .title a {
	font-family:Verdana,Tahoma;
    font-size: 22px;
	color: #327EBE;
	text-decoration: none;
}

.boxed .story {
	padding: 20px;
	border: 1px solid #FF8D17;
}

.boxed .meta {
	padding: 3px 10px;
	background: #FF8D17;
	color: #FFFFFF;
	margin-bottom:8px;
}

.boxed .meta a {
	color: #FFFFFF;
}

/*
Comments Link
*/

#commentlink
{
	float:right;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 15px;
}

#sidebar li ul {
	padding: 10px;
	border: 1px solid #0AAAFD;
	border-top: none;
}

#sidebar li li {
	margin: 0;
	padding: 3px 0;
	background: url(images/img09.gif) repeat-x;
}

#sidebar li li.first {
	background: none;
}

#sidebar li h2 {
	height: 30px;
	margin: 0;
	padding: 10px 0 0 15px;
	background: url(images/img10.jpg) no-repeat;
	letter-spacing: -1px;
	color: #327EBE;
}

#sidebar a:link {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

#sidebar li a {
	padding-left: 10px;
	background: url(images/img11.gif) no-repeat left center;
}

#tagcloud {
	margin-bottom: 10px;
	white-space: normal;
}

#tagcloud li {
	display: inline;
	border-bottom: none;
}

#tagcloud a {
	display: inline;
	padding: 3px 1px 3px 1px;
	text-decoration: none;
}

#tagcloud li a:hover {
	background: none;
	text-decoration: underline;
}

#tagcloud a.biggest {
	font-size: 20px;
}

#tagcloud a.big {
	font-size: 17px;
}

#tagcloud a.medium {
	font-size: 13px;
}

#tagcloud a.small {
	font-size: 12px;
}

#tagcloud a.smallest {
	font-size: 10px;
}

/* Footer */

#footer {
	clear: both;
	height: 46px;
	padding: 15px 0;
	background: #D1D1D1;
	border-top: 5px solid #999999;
	text-align: center;
}

#footer p {
	margin: 0;
	color: #999999;
}

#footer a {
	color: #999999;
}

#footer a:hover {
	color: #FFFFFF;
}

.searchresult{
	margin-bottom: 10px;
	margin-top:10px;
}

.searchresult a{
	font-weight: bold;
	color: #0AAAFD;
}

.searchresult a:hover, a:active {
	text-decoration: none;
	color: #FF6700;
}
.searchresult span.text{
	clear: both;
	display: block;
	margin: 3px 0;
}

.searchresult span.type{
	display: block;
}

.searchresult span.url{
	color: Green;
}

.searchpage ul.paging{
 list-style-type: none;
 margin:0px;
 margin-bottom: 20px;
 padding:0px;
}

.searchpage ul.paging li{
 display: inline;
 border: 1px solid #454545;
 background: #F1F1F1;
 margin-right: 5px;
}

.searchpage ul.paging li a{
 padding: 5px 8px;
}

.searchpage ul.paging li.active{
 background: #F1F1F1;
 border: 1px solid #000000;
}


/*
 * Related Posts
 */

#relatedPosts {
	padding: 5px 10px 10px 10px;
}

#relatedPosts h1 {
	margin: 0px;
}

#relatedPosts a {
	display: block;
	margin-top: 5px;
}

#relatedPosts span {
}

/*
 * Comments
 */
.comment 
{
	border: 1px solid Orange;
	padding: 0px 0px 5px 15px;
	margin-bottom: 5px;
	
}

.comment .date 
{
	
	font-family:Verdana;
	font-size:10px;
	text-align: left;
	padding-top:15px;
}
.comment .author {
    float:left;
	text-align: left;
	margin: 5px 0px 0px 0px;
	clear: both;
	font-weight:bold;
}

.self {
	background-color:#D1EBFF;
}

.comment .gravatar {
	float: right;
	width: 80px;
	margin: 5px 5px 5px 5px;
}

.comment .gravatar img {
	height: 80px;
	width: 80px;
}

.comment .content 
{
	text-align:left;
	color:#000000;
	font-family:Verdana,Tahoma;
	width: 440px;
	margin: 0px 0 0 0px;
	padding-top:7px;
}
.commentForm {
	padding: 5px;
}

.commentForm label {
	float: left;
	display: block;
	width: 80px;
}

.commentForm input {
	width: 130px;
}

.commentForm textarea {
	width: 100%;
	height: 150px;
}

/*
 * Archive
 */

#archive {
	padding: 5px;
}

#archive h1 {
	margin: 0;
	padding-bottom: 9px;
}

#archive h2 {
	border-bottom: 1px solid #454545;
	padding-bottom: 4px;
	font-size: 12px;
	margin-bottom: 10px;
}

#archive h2 img {
	margin-right: 3px;
}

#archive ul {
	list-style-type: square;
	margin: 0 10px 20px;
	padding: 10px;
}

#archive ul li {
	margin-right: 20px;
}

#archive table {
	width: 100%;	
	border-collapse: collapse;
	margin: 0 0 20px 0;
}

#archive table td, #archive table th {
	text-align:left;
}

#archive table td {
	text-align:left;
	border-bottom: 1px solid #454545;
	padding: 2px 0;
}

#archive .date {
	width: 70px;
}

#archive .comments {
	width: 70px;
	text-align: center;
}

#archive .rating {
	width: 70px;
	text-align: center;
}



/*
 * Contact Page
 */

#contact {
	padding: 5px;
}

#contact h1 {
	margin: 0;
	padding-bottom: 9px;
}

#contact label {
	float: left;
	display: block;
	width: 80px;

}

#contact input.field {
	width: 200px;
	margin: 3px 0;
	padding: 3px;
}

#contact textarea {
	display: block;	
	overflow: auto;
	width: 75%;
	height: 150px;
	margin: 2px 0 5px 0;
	padding: 3px;
}

#contact input[type="submit"] {
    border: none;
    -moz-border-radius:5px; 
    -webkit-border-radius:5px; 
    -khtml-border-radius: 5px; 
    border-radius:5px;
    background-color: #1FA2E1;
    color: #FFF;
    padding: 5px 20px;
    margin-left: 80px;
}

#btnSaveAjax {
    border: none;
    -moz-border-radius:5px; 
    -webkit-border-radius:5px; 
    -khtml-border-radius: 5px; 
    border-radius:5px;
    background-color: #1FA2E1;
    color: #FFF;
    padding: 5px 20px;
    width:auto;
}

/*
 * Star Rating
 */

.rating p{
	display: inline;
	position: relative;
	top: 14px;
	left: 55px;
}

.star-rating {
	position: relative;
	width: 125px;
	height: 25px;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	background-position: left top;
}

.star-rating li {
	display: inline;
}

.star-rating a, .star-rating .current-rating {
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -1000em;
	height: 25px;
	line-height: 25px;
	outline: none;
	overflow: hidden;
	border: none;
}

.star-rating a:hover, .star-rating a:active, .star-rating a:focus {
	background-position: left bottom;
}

.star-rating a.one-star {
	width: 20%;
	z-index: 6;
}

.star-rating a.two-stars {
	width: 40%;
	z-index: 5;
}

.star-rating a.three-stars {
	width: 60%;
	z-index: 4;
}
.star-rating a.four-stars {
	width: 80%;
	z-index: 3;
}
.star-rating a.five-stars {
	width: 100%;
	z-index: 2;
}
.star-rating .current-rating {
	z-index: 1;
	background-position: left center;
	margin: 0;
}

.small-star {
	width: 50px;
	height: 10px;
}
.small-star, .small-star a:hover, .small-star a:active, .small-star a:focus, .small-star .current-rating {
	background-image: url(../../pics/star_small.gif);
	line-height: 10px;
	height: 10px;
}




/*
 * Month list
 */

#monthList {
	font-weight: bold;
}

#monthList ul li {
	margin-left: 5px;
	font-weight: normal;
	list-style: none;
}

#monthList li.year{
  cursor: pointer;
}

#monthList ul{
	display: none;
}

#monthList ul.open{
	display: block;
}


/*
 * Calnedar
 */

#calendarContainer {
	margin: 0 auto;
	padding-bottom: 20px;
}

.calendar {
	border: none;
	margin: 0 auto;
	font-size: 1em;
	width: 80%;
}

.calendar_body {
	border: none;
	margin: 0 auto;
	font-size: 1.2em;
	width: 80%;
}

.calendar_body .other {
	color: #111111;
}

.calendar_body a {
	text-decoration: none;
	font-weight: bold;
}

.calendar_body a:hover {
	text-decoration: underline;
}

.calendar_body a.exist {
	display: block;
	font-weight: bold;
}

.calendar_body td {
	vertical-align: top;
	background: #111111;
}

.calendar_body th {
	background: #333333;
}

/* comment form */
.commentForm { padding: 5px; }
.commentForm label { float: left; display: block; width: 80px; margin-top: 4px; }
.commentForm input { width: 300px; }
.commentForm input[type='text'] {
	border: #ccc 1px solid;  
	BACKGROUND-COLOR: #fff; 
	width: 300px;
	margin: 2px 0;
	padding: 2px !important;
}
.commentForm select {
    border: #ccc 1px solid;  
    width: 300px;
    margin: 2px 0;
    padding: 2px;
}
.commentForm textarea { width: 100%; height: 150px; border: 1px solid #ccc; }
#commentMenu { padding: 0; margin: 0; clear: both; }
#commentMenu li { float: left; border: 1px solid #ccc; border-bottom: transparent; margin: 0; list-style: none; margin-right: 5px; padding: 3px 8px; cursor: pointer; position: relative; top: 2px; background: #d8d8d8; }
#commentMenu li.selected { background: white; border-bottom: 1px solid white; }
#commentPreview { display: none; clear: both; min-height: 150px; }
.success { color: green; font-weight: bold; }
.commentForm .bbcode { font-size: 12px; float: right; position: relative; top: 25px; padding: 3px; }
.bbcode a { margin: 1px; padding: 1px 3px 1px 3px; background: #fff; border: none; }

